@model ECommerceLiteEntity.Models.Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Yeni Kategori Ekle</h2>

@using (Html.BeginForm("Create", "Category", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-6 offset-3">

        @if (string.IsNullOrEmpty(ViewBag.CategoryName))
        {
            <h4>Yeni Kategori Ekle</h4>
        }
        else
        {
            <h4><span style="color:red">@ViewBag.CategoryName</span>Kategorisine Yeni Alt Kategori Ekle</h4>
        }
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Kategori Adı:")
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Açıklama:")
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CategoryDescription, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="EKLE" class="btn btn-success" />
            </div><br />
            <div>
                @Html.ActionLink("Listeye Geri Dön", "CategoryList", "Category")
            </div>

        </div>
    </div>

}

